<header>
    <div class="header container">
        <div class="header__left">
            <h1><a href="{{ .Site.BaseURL }}">{{ upper .Site.Title }}</a></h1>
            <span>{{ .Site.Params.subtitle | markdownify }}</span>
        </div>
        <div class="header__right">
            <nav class="header__right__socials">
                {{ range .Site.Params.socials }}
                <div><a href="{{ .url }}" target="_blank"><i class="bx bx-tada-hover {{ .icon }}"></i></a></div>
                {{ end }}
            </nav>
            <nav class="header__right__navbar">
                {{ range .Site.Menus.main }}
                <div><a href="{{ .URL }}">{{ humanize .Name }}</a></div>
                {{ end }}
            </nav>
        </div>
    </div>
</header>
