$font-size: 1.8rem;
$font-family-text: "Noto Sans", sans-serif;
$font-family-heading: $font-family-text;

$color-fg: #E3E3E3;
$color-bg: #1E1E1E;
$color-accent: #238CCA;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: $font-family-text;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $color-fg;
    background-color: $color-bg;
    font-size: $font-size;
    @media (max-width: 576px) {
        font-size: $font-size * 0.85;
    }
    @media (max-width: 320px) {
        font-size: $font-size * 0.75;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3em;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-family: $font-family-heading;
}

h1 {
    font-size: 2.35em
}

h2 {
    font-size: 2.00em
}

h3 {
    font-size: 1.75em
}

h4 {
    font-size: 1.5em
}

h5 {
    font-size: 1.25em
}

h6 {
    font-size: 1em;
}

a {
    color: $color-accent;
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    border-bottom: 2px solid transparent;
    &:hover {
        color: lighten($color-accent, 20%);
        border-bottom-color: $color-accent;
    }
}

img {
    max-width: 100%;
}

figure {
    margin: 1rem 0;
    text-align: center;
}

figcaption {
    font-size: 0.9em;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: lighten($color-bg, 1%);
}

table th {
    padding: 0.5rem 1rem;
    border: 1px solid darken($color-fg, 50%);
    background-color: darken($color-bg, 1%);
}

table td {
    padding: 0.5rem 1rem;
    border: 1px solid darken($color-fg, 50%);
}

blockquote {
    width: 100%;
    margin-left: 0;
    padding: 0.1rem 0;
    padding-left: 2ch;
    font-size: larger;
    font-family: "Patrick Hand", cursive;
    background-color: darken($color-bg, 1%);
    border-left: 5px solid #527286;
}

code {
    word-break: break-word;
    font-family: "JetBrains Mono", monospace;
}

.highlight {
    position: relative;
    > pre {
        line-height: 1.25em;
        border-radius: 5px;
        padding: 1rem;
        padding-left: 0.5rem;
        overflow-x: scroll;
        &:hover {
            > [data-lang]::before {
                position: absolute;
                z-index: 0;
                top: 0;
                right: 0;
                border-radius: 5px;
                padding: 0.1rem 0.5rem;
                text-transform: uppercase;
                font-size: small;
                font-weight: bold;
                content: attr(data-lang);
            }
            > [data-lang="fallback"]::before {
                content: none;
            }
            > [data-lang="html"]::before {
                color: #FFFFFF;
                background-color: rgba(#e44d26, 0.9);
            }
            > [data-lang="javascript"]::before {
                color: #000000;
                background-color: rgba(#f7df1e, 0.9);
            }
            > [data-lang="python"]::before {
                color: #ffd441;
                background-color: #3477ac;
            }
            > [data-lang="go"]::before {
                color: #000000;
                background-color: #6ad7e5;
            }
            > [data-lang="php"]::before {
                color: #000000;
                background-color: #777bb3;
            }
        }
        > code {
            word-break: normal;
        }
    }
}

header,
footer {
    padding: 2rem 0;
}

header {
    background-color: darken($color-bg, 2%);
}

footer {
    margin-top: 5rem;
    font-size: 0.75em;
    background-color: lighten($color-bg, 2%);
}

main {
    flex-grow: 1;
    @extend .container;
}

article {
    line-height: 1.8em;
    a {
        border-bottom: 2px dashed $color-accent;
        &:hover {
            border-bottom-style: solid;
        }
    }
}

ul,
ol {
    padding-left: 2ch;
    line-height: 1.5em;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    max-width: 800px;
}

.header {
    display: flex;
    justify-content: space-between;
    .header__left {
        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
        }
        a {
            color: $color-fg;
            border-bottom: 3px solid transparent;
            &:hover {
                border-bottom-color: $color-fg;
            }
        }
    }
    .header__right {
        min-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .header__right__socials {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1.5rem;
            div {
                margin-left: 1.5rem;
                a {
                    color: $color-fg;
                    font-size: 24px;
                    border-bottom: none;
                }
            }
        }
        .header__right__navbar {
            display: flex;
            justify-content: flex-end;
            div {
                margin-left: 1.5rem;
                a {
                    font-weight: bold;
                    white-space: nowrap;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 576px) {
        flex-direction: column;
        align-items: center;
    }
}

.list-post {
    .list-post-title {
        margin-bottom: 0.5rem;
    }
    .list-post-meta {
        font-size: 0.9em;
        margin-bottom: 0.5rem;
        .list-post-meta__info {
            margin-bottom: 0.5rem;
            color: darken($color-fg, 20%);
        }
        .list-post-meta__tags {
            font-family: monospace;
            > span {
                padding: 0 0.5rem;
                border-radius: 5px;
                background-color: lighten($color-bg, 5%);
                > a:hover {
                    border-bottom: none;
                }
            }
        }
    }
}

.list-paginator {
    margin: 3rem 0;
    display: flex;
    justify-content: flex-end;
    a {
        font-weight: bold;
    }
}

.post {
    .post-title {
        text-align: center;
    }
    .post-header {
        padding: 0;
        text-align: center;
        background-color: $color-bg;
        .post-header__meta {
            color: darken($color-fg, 20%);
        }
    }
    .post-footer {
        padding: 0;
        margin-bottom: 3rem;
        font-size: 0.9em;
        font-family: monospace;
        background-color: $color-bg;
        .post-footer__tags {
            margin-bottom: 1rem;
        }
    }
}

.tags {
    font-family: monospace;
    span {
        margin-right: 1rem;
        white-space: nowrap;
        > sub {
            color: darken($color-fg, 20%);
        }
    }
}

.katex-display {
    overflow-x: scroll;
    overflow-y: hidden
}
