<section class="list-post">
    <h4 class="list-post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
    <div class="list-post-meta">
        <div class="list-post-meta__info">
            <span>{{ .Date.Format "2 Jan 2006" }}</span>
            <span>· {{ .ReadingTime }} min read</span>
            <span>· {{ .WordCount }} words</span>
        </div>
        {{ if .GetTerms "tags" }}
        <div class="list-post-meta__tags">
            {{ range .GetTerms "tags" }}
            <span><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <span>{{ .Description }}</span>
</section>
