:root {
    --bg-color: #111;
    --fg-color: #eee;
    --sub-color: gray;
    --accent-color: #0acc74;
    --link-color: var(--accent-color);
    --font-size: 18px;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Base */

*, *::before, *::after {
    box-sizing: border-box;
}

*::selection {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

html {
    width: 100%;
    height: 100%;
    color: var(--fg-color);
    background-color: var(--bg-color);
    font-size: var(--font-size);
    font-family: "Inconsolata", monospace;
}

body {
    margin: 0 auto;
    max-width: 850px;
    padding: 0 1em;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4, h5, h6 {
    font-size: 1.1rem;
    margin-block-start: 1.33em;
}

h1, h2, h3, h4, h5, h6 {
    margin-block-end: 0.25em;
    word-spacing: -0.1rem;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "# ";
    color: var(--accent-color)
}

a {
    color: unset;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    border-bottom: 2px solid var(--link-color);
}

h1>a, h2>a, h3>a, h4>a {
    border-bottom: none;
}

h1>a:hover, h2>a:hover, h3>a:hover, h4>a:hover {
    border-bottom: 2px solid var(--link-color);
}

sup a, .footnote-backref {
    border-bottom: none;
    margin-left: 0.25em;
}

sup a:hover, .footnote-backref:hover {
    border-bottom: none;
    color: var(--link-color);
}

sub, label {
    color: var(--sub-color);
}

hr {
    color: var(--accent-color);
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    margin-block-start: 2em;
    margin-block-end: 2em;
}

p {
    line-height: 1.35;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

blockquote {
    margin: 0;
    padding: 0.25em 0.25em 0.25em 1em;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    border-left: 5px solid var(--accent-color);
    background-color: black;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

figure {
    margin: 1em 0;
    text-align: center;
}

figcaption {
    font-size: 0.9rem;
}

code {
    color: var(--accent-color);
    padding: 0 5px;
    border-radius: 5px;
    background: rgba(10, 204, 117, 0.2);
    font-size: 0.85rem;
    word-wrap: break-word;
    font-family: "JetBrains Mono", monospace;
}

pre>code {
    color: unset;
    background: unset;
    padding: 0;
    border: none;
    font-size: 0.8rem;
    word-wrap: normal;
}

li {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

ul, ol {
    list-style: none;
}

ul>li, ol>li {
    position: relative;
}

ul>li::before, ol>li::before {
    position: absolute;
    left: -2ch;
    font-weight: bold;
    color: var(--accent-color);
}

ul>li::before {
    content: "* ";
}

ol {
    counter-reset: li;
}

ol>li {
    counter-increment: li;
}

ol>li::before {
    content: counter(li);
    ;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table th {
    padding: 0.5em 1em;
    border: 1px dashed var(--sub-color);
}

table td {
    padding: 0.5em 1em;
    border: 1px dashed var(--sub-color);
}

/* Header */

body>header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 0.5em;
}

body>header>nav {
    display: flex;
}

body>header>nav>div {
    margin-left: 1em;
}

body>header>nav>div>a {
    font-weight: bold;
}

/* > Mobile Phones & Tablets */

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
    body>header {
        flex-direction: column;
    }
    body>header>nav {
        width: 100%;
        margin-top: 0.5em;
        justify-content: center;
    }
}

/* Main */

body>main {
    margin: 2em 0;
}

/* Footer */

body>footer {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    padding-bottom: 1em;
}

/* > Mobile Phones */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body>footer {
        text-align: center;
        flex-direction: column;
    }
}

/* Heading */

#heading {
    display: flex;
    align-items: baseline;
}

#heading>h1 {
    color: unset;
    font-size: 2rem;
    border-bottom: 5px solid var(--fg-color);
    margin-block-start: 0;
}

#heading>h1::before {
    content: none;
}

#heading>h1:hover a {
    border-bottom: none;
    color: var(--bg-color);
    background-color: var(--fg-color);
}

#heading>h2 {
    font-size: 1rem;
    margin-left: 1em;
    margin-block-start: 0;
}

#heading>h2>span {
    animation: blink 1s linear infinite;
}

#heading>h2::before {
    content: none;
}

/* > Mobile Phones */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #heading {
        align-items: center;
    }
}

/* Post */

#post>h1 {
    text-align: center;
}

#post>header {
    margin-top: 0.5em;
    text-align: center;
    color: var(--sub-color);
}

#post>header>p {
    color: var(--fg-color);
}

#post>article {
    margin: 2em 0;
}

#post>footer {
    color: var(--sub-color);
}

/* #sidecar {
    display: none;
}

@media only screen and (min-device-width: 1280px) {
    #sidecar {
        max-width: 300px;
        right: calc((100% - 850px)/2 - 325px);
        position: fixed;
        display: inline-block;
        z-index: 100;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    #sidecar>h6 {
        margin-block-start: 0;
    }
} */

/* Paginator */

#paginator {
    margin-top: 1.5em;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

#paginator>label {
    margin: 0 0.5em;
}

/* Tags */

#tags {
    padding: 1em 5em;
    text-align: center;
}

#tags>span {
    margin-right: 0.25em;
    white-space: nowrap;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #tags {
        padding: 0;
    }
}

/* Highlight */

.highlight {
    position: relative;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.highlight>div {
    border-radius: 5px;
}

.highlight pre {
    margin: 0.5em 0;
    margin-right: .5em;
    white-space: pre;
}

.highlight pre code[class*="language-"]::before {
    top: 0;
    right: 0;
    color: white;
    font-weight: bold;
    background-color: black;
    font-size: 0.75rem;
    text-align: center;
    padding: 0.1em 0.5em;
    position: absolute;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

.highlight:hover pre code[class*="language-"]:before {
    opacity: 1;
}

.highlight pre code[class="language-html"]::before {
    content: "HTML";
    color: white;
    background-color: #e44d26;
}

.highlight pre code[class="language-javascript"]::before {
    content: "JavaScript";
    color: black;
    background-color: #f7df1e;
}

.highlight pre code[class="language-php"]::before {
    content: "PHP";
    color: black;
    background-color: #777bb3;
}

.highlight pre code[class*="language-python"]::before {
    content: "Python";
    color: #ffd441;
    background-color: #3477ac;
}

.highlight pre code[class*="language-go"]::before {
    content: "Go";
    color: black;
    background-color: #6ad7e5;
}

/* Others */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .recent-tags {
        display: none;
    }
}

.katex-display {
    overflow-x: scroll;
    overflow-y: hidden
}

.gist .blob-num {
    border: none;
}

.utterances {
    max-width: 100%;
}

/* #TableOfContents {
    font-weight: bold;
    font-size: 14px;
}

#TableOfContents ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

#TableOfContents li::before {
    content: "# ";
    color: var(--sub-color);
}

#TableOfContents a {
    border-bottom: none;
}

#TableOfContents a:hover {
    border-bottom: 2px solid var(--link-color);
} */
