<!DOCTYPE html>
<html lang="{{ lang }}">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="description" content="{{ config.description }}" />
    <title>{{ config.title }}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/theme.css">
  </head>

  <body>
    <header>
      <h1 onclick="window.location.href='/';"><span>{{ config.title }}</span></h1>
      <nav>
        <ul>
          {% for navlink in config.extra.navlinks %}
          <li><a href="{{ navlink.path }}">{{ navlink.title }}</a></li>
          {% endfor %}
          {% if config.extra.socials %}
          <li>
            {% for social, url in config.extra.socials %}
            <a href="{{ url }}">
              <img class="icon" height="100%" width="22" src="https://unpkg.com/simple-icons@v14/icons/{{ social }}.svg" />
            </a>
            {% endfor %}
          </li>
          <li>
            {% if config.extra.email %}
            <a href="mailto:{{ config.extra.email }}">
              <img class="icon" height="100%" width="22" src="https://unpkg.com/simple-icons@v14/icons/protonmail.svg" />
            </a>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
    {% block content %}{% endblock %}
    </main>
    <footer>
      <p>© {{ now() | date(format="%Y") }} {{ config.author }}</p>
      <p>Powered by <a href="https://www.getzola.org/">Zola</a> with Custom Theme</p>
    </footer>
  </body>

</html>
